a:link:focus:active:visited:hover{
    text-decoration: none;
  }
nova-sc-regular {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
  }
  
  .bona-nova-sc-bold {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
  }
body{
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(14, 29, 53);
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
.text{
    color:white;
    font-family: "Bona Nova SC", serif;
}
.textsus{
    font-size:2.5vw;
    animation-duration: 1s;
}
.textsus:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.847);
}
h1{
    background-color: #410c6c;
    position: fixed;
    width:100%;
    margin-top: -15px;
    margin-left: -7px;;
    z-index: 3;
    margin-top: 1vh;
    margin-left:0.1vw;
}
.header{
    display: flex;
    flex:1;
    align-items: center;
    z-index: 10;
}
.logo{
    width:20%;
    height:20%;
    animation-duration: 1s;
}
.logo:hover{
    opacity:0.9;
    cursor: pointer;
}
.mid{
    display:flex;
    flex:2;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.right{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.autentificare{
    font-family: "Bona Nova SC", serif;
    height:4vh;
    width:10vw;
    border-radius: 10px;
    background-color: rgb(215, 71, 247);
    border: 0px;
    font-size: 1.3vw;
    animation-duration: 0.6s;
}

.autentificare:hover{
    cursor: pointer;
    opacity:0.9;
}
.inregistrare{
    font-family: "Bona Nova SC", serif;
    font-size: 1.3vw;
    height:4vh;
    width:10vw;
    border-radius: 10px;
    background-color: white;
    border: 0px;
    animation-duration: 0.6s;
    
}
.inregistrare:hover{
    cursor: pointer;
    opacity:0.9;
}
.jocuri{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.joc{

    display:flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:32vw;
    height:40vh;
    border-radius: 200px;
    z-index: 2;
}
.imaginejoc{
    width:32vw;
    height:33vh;
    border-radius: 50px;
}


.coloanajocuri, .coloanajocuri1{
    margin-top: 100px;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.imaginejoc:hover{
    cursor: pointer;
    opacity:0.8;
}
footer{
    text-align: left;
    align-items: center;
    background-color: #410c6c;
    height:900px;
    width:100%;
    position:relative;
    margin-top: 200px;
    padding-bottom: 0px;
}
/* Styling footer */
.DivMareFooter{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-items: space-between;
}
.DivParteaDeschisa{
    display: flex;
    flex-direction: row;
    flex:1;
}
.DivSectiuneaDespre{
    display: flex;
    flex-direction: column;
    flex:1;
    padding-left: 1vw;
}
.DivSectiuneMetodePlata{
    display: flex;
    flex-direction: column;
    flex:1;
}
.DivSectiuneAjutor{
    display: flex;
    flex-direction: column;
    flex:1;
}
.DivParteaInchisa{
    display: flex;
    flex-direction: column;
    flex:0.3;
    background-color: #340b55;
    padding-left: 3vw;
}
.DivFooterJos{
    display: flex;
    flex-direction: row;
    flex:1;
    padding-top: 5vh;
    background-color: #230939;
    height:200px;
    width: 100%;
    justify-content: space-between;
}
/*Text styling footer*/
.TextDespre, .TextAjutor, .TextMetodePlata, .TextDespre1, .TextAjutor1, .TextMetodePlata1, .TextDespre2, .Text18Ani, .TextFooterJos1, .TextFooterJos{
    color:white;
    size:2vw;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
}
.TextDespre1, .TextAjutor1, .TextMetodePlata1{
    margin-bottom: 2.7vh;
}
.TextDespre2{
    margin-bottom: 4vh;
}
.Text18Ani{
    width:18vw;
}
.TextFooterJos1{
    width:54vw;
    padding-left: 1.3vw;
}
.TextFooterJos{
    width: 24vw;
}
/* Optimizare pt telefon */
@media (min-width: 800px){
    .logo1{
        display: none;
    }
}
@media (max-width: 768px) {
.DivFooterJos, .DivMareFooter, .DivParteaDeschisa{
flex-direction: column;
}
footer{
    height:2000px;
}
 .TextAjutor1, .TextMetodePlata1{
    margin-top:40px;
    margin-bottom: 20px;
}
.DivParteaInchisa{
    height:1000px;
    width:100%;
}
.Text18Ani{
    width:400px;
}
.TextDespre1{
    margin-bottom: 20px;
}
.TextFooterJos1{
    margin-bottom: 20px;
}
.DivFooterJos{
    height:700px;
}
.TextFooterJos, .TextFooterJos1, .TextMetodePlata1{
    width: 400px;
}
    .header {
        flex-direction: row;
        text-align: center;
        height:100px;
    }
.right {
        flex-direction: row;
    }
    .autentificare, .inregistrare {
        display: none;
    }
    .jocuri {
        flex-direction: column;
    }
    .joc {
        width: 90%;
        height: auto;
        border-radius: 30px;
    }
    .imaginejoc {
        width: 100%;
    }
    .textsus {
        font-size: 5vw;
    }
    .coloanajocuri{
        margin-top: 0px;
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
    }
    .mid{
        display: none;
    }
    .logo1{
        width:60%;
        height:50%;
        animation-duration: 1s;
    }
    .logo1:hover{
        opacity:0.9;
        cursor: pointer;
    }
    .logo{
        display: none;
    }
}