<!DOCTYPE html>
<html lang="en">
<head>
    <script src="static/js/GeekWheel.js"></script>
    <link rel="stylesheet" href="static/css/RoataGeek.css">
    <title>Geek O'Clock</title>
</head>
<body style="background-color: white;">
    <div class="body">
        <input class="roulette-checkbox hidden" id="roulette-checkbox" type="checkbox" name="roulette-checkbox">
        <label class="roulette-label" for="roulette-checkbox"></label>
        <div class="roulette">
            <ul class="roulette-list">
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
                <li class="roulette-item">GEEK</li>
            </ul>
            <div class="roulette-marker"></div>
        </div>
    </div>
</body>
</html>
