<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/images/LogoFav.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/Login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <title>Login</title>
    </head>
    <body>
        <h1>
            <div class="header">
                <img src="static/images/VlamCasinoLogo.png" class="logo">
                <div class="mid"> 
                    <a><div class="text textsus">Casino</div></a>
                    <div class="text textsus">Live Casino</div>
                    <div class="text textsus">Bingo</div>
                    <div class="text textsus">Blackjack</div>
                </div>
                <div class="right">
                    <button class="autentificare"><h class="autentificaretxt">Autentificare</h></button>
                    <button class="inregistrare">Inregistrare</button>
                </div>
            </div>
        </h1>
        <div class="DivLoginForm">
            <form class="LoginForm">
                <label for="uname" class="TextNumeForm">Nume utilizator sau email:</label>
                <iframe type="text" id="uname" name="uname" class="FrameNumeForm"></iframe>
                <label for="pass" class="TextNumeForm">Parola:</label>
                <iframe type="text" id="pass" name="pass" class="FrameNumeForm"></iframe>
            </form>
        </div>
    </body>
</html>