<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="static/images/LogoFav.png"/>
        <link rel="stylesheet" href="static/css/MafiaPozelorSlots.css"/>
        <title>Mafia Pozelor Slots</title>
        <style>
            body {
                background-image: url('/static/images/sopranos.jpg');
                background-repeat: no-repeat;
            }
          </style>
    </head>
    <body>
        <div class="pong">
            <canvas></canvas>
            <div class="butoane">
            <button class="pula"></button>
            <button class="buton" id="moveUp">Move Left</button>
            <button class="buton" id="startButton">Start Game</button>
            <button class="buton" id="moveDown">Move Right</button>
            </div>
            <script src="static/js/MafiaPozelorSlots.js"></script>
        </div>
    </body>
</html>