<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="static/images/LogoFav.png"/>
        <link rel="stylesheet" href="static/css/MafiaPozelorSlots.css"/>
        <title>Mafia Pozelor Slots</title>
        <style>
            body {
                background-image: url('/static/images/sopranos.jpg');
                background-repeat: no-repeat;
            }
          </style>
    </head>
    <body>
        <div class="pong">
            <canvas></canvas>
            <script src="static/js/MafiaPozelorSlots.js"></script>
            <!-- <button id="up" onclick="isUpPressed()"> Up </button>
            <button id="down" onclick="isDownPressed()"> Down </button> -->
        </div>
    </body>
</html>