<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/images/LogoFav.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/MainPage.css">
        <title>
            Vlam Casino
        </title>
    </head>

    <body>
        <div class="Main">
        <h1>
            <div class="header">
                <img src="static/images/VlamCasinoLogo.png" class="logo">
                <div class="mid"> 
                    <a><div class="text textsus">Casino</div></a>
                    <div class="text textsus">Live Casino</div>
                    <div class="text textsus">Bingo</div>
                    <div class="text textsus">Blackjack</div>
                </div>
                <div class="right">
                    <button class="autentificare"><h class="autentificaretxt">Autentificare</h></button>
                    <button class="inregistrare">Inregistrare</button>
                </div>
            </div>
        </h1>
        <div class="jocuri">
            <div class="coloanajocuri">
                <div class="joc">
                    <a href="http://localhost:8080/DiliMiniSlots"><img src="static/images/Dili Mini Slots Thumb.jpg" class="imaginejoc"></a>
                    <p class="text">Dili Mini Slots</p>
                </div>
                <div class="joc">
                    <img src="static/images/Mafia Pozelor Slots Thumb.webp" class="imaginejoc">
                    <p class="text">Mafia Pozelor Slots</p>
                </div>
                <div class="joc">
                    <img src="static/images/Varu Lu' Dili Mini Slots Thumb.jpg" class="imaginejoc">
                    <p class="text">Varu Lu' Dili Mini Slots</p>
                </div>
            </div>
            <div class="coloanajocuri">
                <div class="joc">
                    <img src="static/images/Futuristic Slots Thumb.webp" class="imaginejoc">
                    <p class="text">Futuristic Slots</p>
                </div>
                <div class="joc">
                    <a href="http://localhost:8080/GeekWheel"><img src="static/images/Geek Wheel XL.png" class="imaginejoc"></a>
                    <p class="text">Geek Wheel XL</p>
                </div>
                <div class="joc">
                    <img src="static/images/777 BIG WIN SLOTS Thumb.jpg" class="imaginejoc">
                    <p class="text">777 BIG WIN SLOTS</p>
                </div>
            </div>
            <div class="coloanajocuri">
                <div class="joc">
                    <img src="static/images/Lebron Capra Slots Thumb.avif" class="imaginejoc">
                    <p class="text">🐐 Lebron Capra Slots 🐐</p>
                </div>
                <div class="joc">
                    <a href="http://localhost:8080/JoculCalamarului"><img src="static/images/Jocul Calamarului SLOTS Thumb.jpg" class="imaginejoc"></a>
                    <p class="text">Jocul Calamarului SLOTS</p>
                </div>
                <div class="joc">
                    <img src="static/images/Trenu' Diliu Slots Thumb.jpg" class="imaginejoc">
                    <p class="text">Trenu' Diliu Slots</p>
                </div>
            </div>
        </div>
    </body>
</html>
