<!DOCTYPE html>
<html lang="en">
<head>
    <script src="static/js/mainPage.js"></script>
    <link rel="stylesheet" href="static/css/mainPage.css">
    <title>Geek O'Clock</title>
</head>
<body>
    <div class="compsoul-body">
        <input class="compsoul-roulette-checkbox hidden" id="compsoul-roulette-checkbox" type="checkbox" name="compsoul-roulette-checkbox">
        <label class="compsoul-roulette-label" for="compsoul-roulette-checkbox"></label>
        <div class="compsoul-roulette">
          <ul class="roulette-list">
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">GO TO WORK</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
            <li class="roulette-item">Go for a beer</li>
          </ul>
          <div class="roulette-marker"></div>
        </div>
      </div>
</body>
</html>
