<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/images/LogoFav.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/MainPage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>
            Vlam Casino
        </title>
    </head>

    <body>
        <div class="Main">
        <h1>
            <div class="header">
                <img src="static/images/VlamCasinoLogo.png" class="logo">
                <div class="mid"> 
                    <a><div class="text textsus">Casino</div></a>
                    <div class="text textsus">Live Casino</div>
                    <div class="text textsus">Bingo</div>
                    <div class="text textsus">Blackjack</div>
                </div>
                <div class="right">
                    <button class="autentificare"><h class="autentificaretxt">Autentificare</h></button>
                    <img src="static/images/VlamCasinoLogo.png" class="logo1">
                    <button class="inregistrare">Inregistrare</button>
                </div>
            </div>
        </h1>
        <div class="jocuri">
            <div class="coloanajocuri1">
                <div class="joc">
                    <a href="https://vladmrt.github.io/DiliMiniSlots"><img src="static/images/Dili Mini Slots Thumb.jpg" class="imaginejoc"></a>
                    <p class="text">Dili Mini Slots</p>
                </div>
                <div class="joc">
                    <img src="static/images/Mafia Pozelor Slots Thumb.webp" class="imaginejoc">
                    <p class="text">Mafia Pozelor Slots</p>
                </div>
                <div class="joc">
                    <img src="static/images/Varu Lu' Dili Mini Slots Thumb.jpg" class="imaginejoc">
                    <p class="text">Varu Lu' Dili Mini Slots</p>
                </div>
            </div>
            <div class="coloanajocuri">
                <div class="joc">
                    <img src="static/images/Futuristic Slots Thumb.webp" class="imaginejoc">
                    <p class="text">Futuristic Slots</p>
                </div>
                <div class="joc">
                    <a href="https://vladmrt.github.io/GeekWheel"><img src="static/images/Geek Wheel XL.png" class="imaginejoc"></a>
                    <p class="text">Geek Wheel XL</p>
                </div>
                <div class="joc">
                    <img src="static/images/777 BIG WIN SLOTS Thumb.jpg" class="imaginejoc">
                    <p class="text">777 BIG WIN SLOTS</p>
                </div>
            </div>
            <div class="coloanajocuri">
                <div class="joc">
                    <img src="static/images/Lebron Capra Slots Thumb.avif" class="imaginejoc">
                    <p class="text">🐐 Lebron Capra Slots 🐐</p>
                </div>
                <div class="joc">
                    <a href="https://vladmrt.github.io/JoculCalamarului"><img src="static/images/Jocul Calamarului SLOTS Thumb.jpg" class="imaginejoc"></a>
                    <p class="text">Jocul Calamarului SLOTS</p>
                </div>
                <div class="joc">
                    <img src="static/images/Trenu' Diliu Slots Thumb.jpg" class="imaginejoc">
                    <p class="text">Trenu' Diliu Slots</p>
                </div>
            </div>
        </div>
    <footer>
        <div class="DivMareFooter">
            <div class="DivParteaDeschisa">
                <div class="DivSectiuneaDespre">
                    <p class="TextDespre1"><b>Despre noi</b></p>
                    <p class="TextDespre">Agentii</p>
                    <p class="TextDespre">Ajutor</p>
                    <p class="TextDespre">Protectia datelor</p>
                    <p class="TextDespre">Cookies</p>
                    <p class="TextDespre">Joc responsabil</p>
                    <p class="TextDespre">Politica impotriva spalarii banilor</p>
                    <p class="TextDespre">Regulamente de joc</p>
                    <p class="TextDespre">Termene si conditii</p>
                    <p class="TextDespre">Licenta</p>
                    <p class="TextDespre">Decizie autorizare</p>
                    <p class="TextDespre2">Sponsorizari</p>
                </div>
                <div class="DivSectiuneMetodePlata">
                    <p class="TextMetodePlata1"><b>Metode plata</b></p>
                    <p class="TextMetodePlata">Cash</p>
                    <p class="TextMetodePlata">Velo</p>
                    <p class="TextMetodePlata">Tigari</p>
                    <p class="TextMetodePlata">Stiti voi</p>
                    <a href="https://vladmrt.github.io/TransferBancar.html"><p class="TextMetodePlata">Transfer bancar (donatii)</p></a>
                </div>
                <div class="DivSectiuneAjutor">
                    <p class="TextAjutor1"><b>Ajutor</b></p>
                    <p class="TextAjutor">Intrebari frecvente</p>
                </div>
            </div>
            <div class="DivParteaInchisa">
                <p class="Text18Ani">Accesul persoanelor sub 18 ani este incurajat.</p>
                <p class="Text18Ani">Este responsabilitatea fiecărui jucător să acționeze în conformitate cu reglementările în vigoare precum și cu termenii și condițiile noastre. 
                    Jocurile de noroc implică risc financiar, jucați cu grijă.
                    <br>
                    <br>
                    Vlam Casino nu este responsabil pentru vatamarea corporala sau mentala a jucatorilor/famillilor lor/prieteniilor lor etc. Fiecare jucator trebuie sa inteleaga ca pe acest site sunt cele mai bune sanse de a castiga un gazilion de dolari, totul la o rotire distanta.
                </p>
            </div>
        </div>
        <div class="DivFooterJos">
            <p class="TextFooterJos1">
                VLAM CAZINO este Casa tuturor Pariurilor SUPER. 
                Asemenea lui Mozzart tot poti BETA no(ardeleneste), chiar si cand e FORTUNA! 
                <br>
                <br>
                Nu e cazul sa ti calculezi NET BET-ul, doar da-i MAX (BET)!
                Magnificul si Uni(cul) Bet ce te va pune in primul avion catre Las Vegas si cel ce face diferenta dintre un loser(average superbear player) si un Winner! Cu noi poti pune un Lucky Bet pana cand ceasul se face 8:88! (sau 4:44 pentru Jay Z si Oscar)
            </p>
            <p class="TextFooterJos">
                Acest site este un pamflet si trebuie tratat ca atare. Orice asemanare cu persoane/COMPANII de pacanele este o pura coincidenta.
                <br>
                Superbear nu ne da in judecata :3
            </p>
        </div>

        
    </footer>
    </body>
</html>
